body {
  font-family: 'Comfortaa';
}

.right{
    float:right;
}

#list {
  margin-bottom: 10px;
}

h3, #storeName {
  text-align: center;
}

/* Scrolly */
.scrollyboi {
  height: 300px;
  overflow-y: scroll;
  background-color: #F8F8F8;
}

.textalign {
  color: black;
  text-align: center;
    font-size: 12px;
}

.wrapper {
display: inline-block;
}

.signout {
  float:center;
}